{% extends "base.html" %}
{% block title %}About Page{% endblock title %}
{% load static %}


{% block content %}


<div class="w3-container">
    <h1 style="text-align: center; margin-top:100px;">About Eu Clubs</h1>
  
   
    <div class="w3-card-4" style="width:45%; margin:auto">
        <img src="{% static 'images/1.jpg' %}" style="width:100%; height:350px;">
      <div class="w3-container w3-center">
        <h1>Clubs and Forums </h1>
        <p style="font-size: 20px;">

          Eastern University (EU) nurtures 23 student clubs vital for 4IR skills. These platforms guide students through 4IR challenges, building essential capabilities, leadership, and loyalty. Engagement in clubs deepens education loyalty, extending beyond classrooms. Teamwork and hands-on experiences prepare students for modern challenges. The Office of Students Affairs (OSA) organizes co-curricular and extra-curricular activities of the students through clubs and forums. By participating in these clubs and forums, students can enhance their interpersonal, social and leadership skills. All EU students are encouraged to enroll in at least one club/ forum of her/his choice. ‘Seeds of Leadership’ , a ten-day intensive and exclusive workshop for undergraduate students of Eastern University, is designed to be a transformative personal experience to generate innovative thinking and develop leadership skills.</p>
      </div>
    </div>
   

  </div>


  
{% endblock content %}